<button id="save">Save</button>
<p id="status"></p>

<div id="table"></div>

{{{script}}}
<script>
  const container = document.querySelector('#table');
    const hot = new Handsontable(container, {
      data: data,
      rowHeaders: true,
      colHeaders: headers,
      dropdownMenu: true,
      columns: cols,
      allowInsertColumn: true,
      multiColumnSorting: true,
      filters: true,
      height: 'auto',
      contextMenu: true,
      // contextMenu: {
      //   items: {
      //     "custom_item": { 
      //       name: 'Add one additional column', 
      //       callback: function(key, options) { 
      //         cols.push({ data: 'new' });
      //         headers.push('new');
      //         this.updateSettings({ 
      //           columns: cols,
      //           colHeaders: headers,
      //         });
      //         this.setDataAtRowProp(0, 'text', '') 
      //       }
      //     }
      //   }
      // },
      licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
    });
    function getObjData(){
      var arr = [];
      for(var i = 0; i < hot.countRows(); i++){
        arr.push(hot.getSourceDataAtRow(i))
      }
      console.log(arr);
      return arr
    }
    const save = document.querySelector('#save');
    save.addEventListener('click', () => {
      // save all cell's data
      console.log('getD: ' + getObjData());
      fetch('/saveSheetData', {
        method: 'POST',
        //mode: 'no-cors',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 
          data: getObjData(), 
          ext: ext, 
          name: name, 
          conDocId: contentDocumentId 
        })
      })
        .then(response => {
          document.querySelector('#status').innerText = 'Data saved';
          console.log('The POST request is only used here for the demo purposes');
        })
        .catch((err) => {
          document.querySelector('#status').innerText = err.message;
        });
    });
</script>
